<!DOCTYPE html>
<html>
   <head>
      <include file="./Application/Home/View/Public/header.html"/>
      <script type="text/javascript" src="__PUBLIC__/js/index.js"></script>
      <script type="text/javascript">
                        function Sub(){
          var nickname = $('#nickname').val();
          var mail = $('#mail').val();
          var content = $('#content').val();
          var verify = $('#verify').val();
          $.ajax({
                  url : "{:U('Home/Index/comment')}",
                  data : {
                          'nickname' : nickname,
                          'mail' : mail,
                          'content' : content,
                          'verify' : verify
                         },
                  type : 'post',
                  success : function(data){
                                    if (data[0] == 2) {
                                    alert('提交失败，验证码错误！');  
                                                    }else if(data[0] == 1){
                                                      if(confirm('提交成功！是否前往留言板？')){
                                                        window.location.href = "{:U('Home/Comment/index')}"; 
                                                      }else{
                                                        
                                                      }                                             
                                                         }else {                                                          alert(data[1]);
                                                            }
                                          }
                 });
          return false;
         }
      </script>
   </head>
   <body>
   <include file="./Application/Home/View/Public/nav.html"/>
   <div class="banner-row">
     <div class='banner'>
      <div class="text-center">
       <p class="h1">Welcome!</p>
       <p class="h4">——欢迎！</p>
       <p class="h3">Today is {$time}</p>
       <p class="h2" id="down"><span class="glyphicon glyphicon-arrow-down"></span></p>
       <p class="h4" id="down">GO</p>
      </div>
     </div>
   </div>

 <div class="container">
  <div class="row">
   <div class="col-xs-12 col-sm-9 col-md-9">
    <div class="well well-head">
      <p class="h3"> <span class=" glyphicon glyphicon-list-alt"></span> &nbsp最新文章</p>
    </div>
     <div class="row">
       <volist name='article_info' id='vo'>
         <div class="col-xs-12 col-sm-4 col-md-4">
          <div class="well well-pb">
           <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 thumbnail well-img">
              <a href="{:U('Home/Article/index',array('id'=>$vo['id']))}">
                <img  src="__PUBLIC__/Uploads/{$vo.img_path}{$vo.img_name}" title="{$vo.title}">
              </a>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12">
                   
             <p class="well-title h4 text-center"><span class="text-info">[{$vo.type}]</span><a href="{:U('Home/Article/index',array('id'=>$vo['id']))}">{$vo.title}</a></p>
                   
             <p class="well-intro text-muted text-p">{$vo.intro}</p>
             <div class="well-footer text-center">
              <span class="glyphicon glyphicon-time"></span> &nbsp{$vo.create_time}
              <span class="glyphicon glyphicon-eye-open"></span> &nbsp{$vo.click_sum}
              <span class="glyphicon glyphicon-tag"></span> &nbsp{$vo.category}
               <a class="btn btn-default" href="{:U('Home/Article/index',array('id'=>$vo['id']))}" data-toggle="tooltip" title="查看详情">MORE</a>
             </div>
            </div>
           </div>
          </div>
         </div>
       </volist>
      </div>
   </div>



  <div class="col-xs-12 col-sm-3 col-md-3">  
   <include file="./Application/Home/View/Public/public.html"/>
  </div>
  </div>
 </div>
   
  <include file="./Application/Home/View/Public/comment.html"/>
  <include file="./Application/Home/View/Public/footer.html"/>
  <include file="./Application/Home/View/Public/sidebar.html"/>
       <script src="__PUBLIC__/bootstrap/ot/jquery.min.js"></script>
       <script src="__PUBLIC__/bootstrap/ot/bootstrap.min.js"></script>
   </body>
</html>