body{
    background-color: #eee;
    word-wrap:normal;
    word-break:break-all;
    padding-top: 50px;
}
.container{
    background-color: silver;

}
.panel-main{
    min-height: 500px;
}

footer{
	   
        background-color: #333;
        color:white;
        width: 100%;
        text-align: center;
        line-height: 15px;
        min-height: 100px;

        }