      
      <title>Dayson的个人博客</title>
      <meta charset="UTF-8">
      <meta name=”description” content="Dayson的个人博客，一个崇尚实干的程序猿">
      <meta name="keywords" content="dayson's blog,Dayson的博客" />
      <meta name="author" content="Dayson">
      <link rel="icon" href="favicon.ico" type="image/x-icon" />
      <link rel="shortcut icon" href="favicon.ico">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- 引入 Bootstrap -->
      <link rel="stylesheet" type="text/css" href="__PUBLIC__/bootstrap/css/bootstrap.css"/>
      <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/index.css"/>
 
      <!-- HTML5 Shim 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
      <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
      <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
      <script type="text/javascript" src="__PUBLIC__/js/jquery-3.1.1.min.js"></script>
      <script type="text/javascript" src="__PUBLIC__/js/verifyChange.js"></script>  